@use "../custom" as *;
// @use "../components/mixin" as *;

.logo-jk {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.brand-box {
    padding: 0;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
}



//*********************************************************//
// ************** SECTION INTRO ***************************//

body.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.row0 {
    border-bottom: 2px solid;
    background-color: #274472;
    border-color: #5280ca;
}

.clear {
    display: block;
    clear: both;
}

#intro {
    max-width: 95%;
    margin: 0 auto;
}

#intro ul {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-color: #84b533;
}

ul.nospace,
ol.nospace {
    list-style: none;
}

.nospace {
    margin: 0;
    padding: 0;
}

#intro li {
    display: table-cell;
    width: 20%;
    height: 100%;
    border: solid;
    border-width: 0 1px;
    border-color: inherit;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.block {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#intro li a {
    padding: 20px 10px;
    background-color: inherit;
}

a {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

a:hover{
    color:#a0bdeb
}

#intro .cc.circle {
    color: #274472;
    background-color: #FFFFFF;
  }

  #intro .cc.circle:hover{
    background-color: #a0bdeb;
  }

  .cc.circle {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 15px 0 0 0;
    font-size: 18px;
    line-height: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .circle {
    display: inline-block;
    position: relative;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

.push-30 {
    margin-bottom: 30px;
}

#intro li {
    width: 17%;
    text-align: center;
}
#intro li a {
    padding: 20px 10px;
}

h6 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: normal;
}


//*********************************************************//
// ************** SECTION MESSAGES BLOCK ***************************//
.row1{

    border-bottom: 2px solid;
    background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;

}



#message-block ul{
    display:table;
    width: 100%;
    border-collapse: collapse;
    border-color: #ffffff;
}

#message-block li{
    width: 45%;
    display: table-cell;
    height: 100%;
    border: solid;
    border-width: 0 1px;
    border-color: inherit;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}






//*********************************************************//
// ************** MEDIA QUIRES***************************//

@media only screen and (min-width: 1140px){
    html.boxed .wrapper, #intro, #message-block, .container {
        max-width: 1140px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 615px) {
    #intro li {
        border-width: 0 1px 1px 1px;
        border-color: inherit;
        display: block;
        width: 100%;
    }
}

